<p-dialog
  #di
  header="Add"
  [(visible)]="modal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="onHide()"
>
  <ng-template pTemplate="input">
    <tr>
      <label for="">Name</label>
      <input class="me-1" pInputText type="text" [(ngModel)]="country.name" />
    </tr>
    <tr>
      <label for="">Currency</label>
      <input
        class="me-1"
        pInputText
        type="text"
        [(ngModel)]="country.currencies"
      />
    </tr>
    <tr>
      <label for="">Capital</label>

      <input
        class="me-1"
        pInputText
        type="text"
        [(ngModel)]="country.capital"
      />
    </tr>
    <tr>
      <label class="me-2" for="">Region</label>
      <input class="me-1" pInputText type="text" [(ngModel)]="country.region" />
    </tr>
  </ng-template>

  <button
    class="btn btn-primary"
    label="submit"
    (click)="handleSubmitChild(di)"
  >
    Submit
  </button>
</p-dialog>
